# Node modules
node_modules

# Environment files
.env
.env.*

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist
build

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage 